<%= form_for(@blog, class: 'form-horizontal', role: 'form') do |f| %>

  <% if @blog.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title, class: "col-sm-1 control-label" %>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :content, class: "col-sm-1 control-label" %>
    <%= f.text_area :content, class:'form-control', size: "x5" %>
  </div>
  
  
  <div class="form-group">
    <%= f.label :program, class: "col-sm-1 control-label" %>
    <%= f.text_area :program, class:'form-control', size: "x8" %>
  </div>
  
  
  <div class="form-group">
    <%= f.label :reference, class: "col-sm-1 control-label" %>
    <%= f.text_field :reference, class:'form-control' %>
  </div>
  
  
  <%= f.submit '登録', class: 'btn btn-primary btn-sm', data: { disable_with: '登録中…' } %>
<% end %>