<%= form_for(@blog, class: 'form-horizontal', role: 'form') do |f| %>

  <% if @blog.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- [非表示] ユーザID -->
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  
  <div class="form-group">
    <div class="text-left">
      <%= f.label "タイトル", class: "col-sm-1 control-label" %>
    </div>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  
  <div class="form-group">
    <div class="text-left">
      <%= f.label "内容", class: "col-sm-1 control-label" %>
    </div>
    <%= f.text_area :content, class:'form-control', size: "x5" %>
  </div>
  
  
  <div class="form-group">
    <div class="text-left">
      <%= f.label "プログラム（※Ruby/Ruby on Railsのみ適用）", class: "col-sm-4 control-label" %>
    </div>
    <%= f.text_area :program, class:'form-control', size: "x8" %>
  </div>
  
  
  <div class="form-group">
    <div class="text-left">
      <%= f.label "参考URL・参考書籍等(※参照時に改行は排除されます)", class: "col-sm-4 control-label" %>
    </div>
    <%= f.text_area :reference, class:'form-control', size: "x3" %>
  </div>
  
  
  <%= f.submit '登録', class: 'btn btn-primary btn-sm', data: { disable_with: '登録中…' } %>
<% end %>