<div class="page-header"></div>
  <h1>ブログ一覧</h1>
</div>
<br />

<div class="panel panel-default">
  <table class="table">
    <thead>
    <tr>
      <th>No</th>
      <th>タイトル</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <!-- 全ブログ情報を一覧表示 -->
  <tbody>
    <% i = 1 %>
    <% @blogs.each do |blog| %>
      <tr>
        <td><div class="text-left"><%= i.to_s %></div></td>
        <td><div class="text-left"><%= blog.title.slice(0, 20) %></div></td>
        <td><div class="text-left"><%= blog.content.slice(0,50) %></div></td>
        
        <!-- 以下は要修正 -->
        <td><%= link_to '参照', blog %></td>
        <td><%= link_to '更新', edit_blog_path(blog) %></td>
        <td><%= link_to '削除', blog, method: :delete, data: { confirm: '削除しますがよろしいですか?' } %></td>
        <% i += 1 %>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<%= link_to 'New Blog', new_blog_path %>
<br />
<%= paginate @blogs %>
