<% require 'hyperlink_for_url' %>

<div class="page-header">
  <h1>
    <%= @blog.title %>
  </h1>
</div>

<%= link_to '編集', edit_blog_path(@blog) %> |
<%= link_to '戻る', blogs_path %>

<div class="text-right">
  <div class="text-info">
    <%= @blog.created_at.strftime("作成日 ： %Y/%m/%d %H:%M (#{%w(日 月 火 水 木 金 土)[@blog.created_at.wday]})") %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="text-left">
         タイトル
    </div>
  </div>
  <div class="panel-body">
    <div class="text-left">
      <%= @blog.title %>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="text-left">
      内容
    </div>
  </div>
  <div class="panel-body">
    <div class="text-left">
      <%= @blog.content %>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="text-left">
      プログラム
    </div>
  </div>
  
  <div class="panel-body">
    <div class="text-left">
      <pre class="brush: ruby">
        <% if @blog.program %>
          <%= @blog.program.force_encoding("utf-8") %>
        <% end %>
      </pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="text-left">
      参考URL・参考書籍等
    </div>
  </div>
  <div class="panel-body">
      <% str = @blog.reference %>
      <% if str %>
        <% converted =  HyperlinkForUrl::Conversion.conversion(str) %></div>
        <div class="text-left">　
          <%= sanitize(converted.strip.force_encoding("utf-8"), :tags => %w(a br)) %><br /><br />
        </div>
      <% end %>
    </div>

</div>

