<div class="page-header">
  <h2>
    <%= @userprofile.name %>
  </h2>
  <h4><%= link_to '登録情報', user_path(@userprofile.user_id) %></h4>
</div>

<%= link_to '編集', edit_userprofile_path(@userprofile) %> |
<%= link_to '戻る', blogs_path %>

<div class="text-right">
  <div class="text-info">
    <%= @userprofile.created_at.strftime("作成日 ： %Y/%m/%d %H:%M (#{%w(日 月 火 水 木 金 土)[@userprofile.created_at.wday]})") %>
  </div>
</div>
<div class="text-right">
  <div class="text-info">
    <%= @userprofile.updated_at.strftime("更新日 ： %Y/%m/%d %H:%M (#{%w(日 月 火 水 木 金 土)[@userprofile.created_at.wday]})") %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="text-left">
          血液型
        </div>
      </div>
      <div class="panel-body">
        <div class="text-left">
          <%= @userprofile.bloodtype %>
        </div>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="text-left">
          生年月日
        </div>
      </div>
      <div class="panel-body">
        <div class="text-left">
          <% if @userprofile.birthday %>
            <%= @userprofile.birthday.strftime("%Y/%m/%d") %>
          <% else %>
            <%= " " %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="text-left">
          住所
        </div>
      </div>
      <div class="panel-body">
        <div class="text-left">
          <%= @userprofile.address %>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <% if @userprofile.photo? %>
        <img src="<%= userprofile_download_path(@userprofile) %>">
      <% end %>
    </div>
  </div>
  
</div>
