<div class="page-header"></div>
  <h1>登録ユーザ一覧</h1>
</div>

<div class="panel panel-default">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>名前</th>
      <th>Email</th>
      <th>パスワード</th>
      <th colspan="4"></th>
    </tr>
    </thead>
  
  <!-- 登録情報を一覧表示 -->
    <tbody>
    <% i = 1 %>
    <% @users.each do |user| %>
      <tr>
        <td><div class="text-left"><%= user.name %></div></td>
        <td><div class="text-left"><%= user.email %></div></td>
        <td><div class="text-left"><%= user.passwd %></div></td>
        
        <!-- 以下は要修正 -->
        <td><%= link_to '参照', user %></td>
        <td><%= link_to '更新', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '削除しますがよろしいですか?' } %></td>
        <% i += 1 %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  <br />
  <%= paginate @users %>
