<div class="img">
  <%= image_tag 'loginTop.jpg', width: 300, hight: 200 %>
</div>

<p class="bg-danger", style="color: Red"><%= @emsg %></p>
<%= form_tag controller: :login, action: :auth do %>
  <div class="bg-info">
    <h2>ログイン</h2>
  </div>
  
  <span class="form-group">
    <%= label_tag :name, '名前' %>
    <%= text_field_tag :name, '', size:20 %>
  </span>
  
  <span class="form-group">
    <%= label_tag :passwd, '　パスワード' %>
    <%= password_field_tag :passwd, '', size:20 %>
  </span>
  
  <%= submit_tag 'ログイン',class: 'btn btn-primary btn-sm', data: { disable_with: 'ログイン中…' } %>

<% end %>

  <div class="bg-info">
    <h2>新規登録</h2>
  </div>
  <div class="annotation">※アカウントを取得されていない方は、以下項目を入力してください</div>
  
<%= form_tag(@user ,url: {controller: :users, action: :create}) do %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li class="text-center"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table2", height="100px", width="300px">
    <tr>
      <div class="form-group">
        <td><%= label :user, :name, 'ユーザ名' %></td>
        <td><%= text_field :user, :name, size:20 %></td>
      </div>
    </tr>
    
    <tr>
      <div class="form-group">
        <td><%= label :user, :email, 'Email' %></td>
        <td><%= text_field :user, :email, size:20 %></td>
      </div>
    </tr>
    
    <tr>
      <div class="form-group">
        <td><%= label :user, :passwd, 'パスワード' %></td>
        <td><%= password_field :user, :passwd, size:20 %></td>
      </div>
    </tr>
  </table>
  
  <!-- ログイン後にリダイレクトすべきアクションを隠しフィールドにセット -->
  <%= submit_tag 'アカウント登録', class: 'btn btn-primary btn-sm', data: { disable_with: '登録中…' } %>
<% end %>
<hr />
