<div>
  <%= image_tag 'loginTop.jpg' %>
</div>

<p style="color: Red"><%= @error %></p>
<%= form_tag action: :auth do %>
  
  <h2>ログイン</h2>
  <span class="field">
    <%= label_tag :username, 'ユーザ名' %>：
    <%= text_field_tag :username, '', size:20 %>
    
    <%= label_tag :password, 'パスワード' %>：
    <%= password_field_tag :password, '', size:20 %>
  </span>
  
  <!-- ログイン後にリダイレクトすべきアクションを隠しフィールドにセット -->
  <%= hidden_field_tag :referer, flash[:referer] %>
  <%= submit_tag 'ログイン' %>
  
  <hr>
  
  <h2>新規登録</h2>
  <span class="field">
    <table>
      <tr>
        <td><%= label_tag :newusername, 'ユーザ名' %>：</td>
        <td><%= text_field_tag :newusername, '', size:20 %></td>
      </tr>
    
      <tr>
        <td><%= label_tag :newpassword, 'パスワード' %>：</td>
        <td><%= password_field_tag :newpassword, '', size:20 %></td>
      </tr>
      
      <tr>
        <td><%= label_tag :newemail, 'Email' %>：</td>
        <td><%= password_field_tag :newemail, '', size:20 %></td>
      </tr>
      
    </table>
  </span>
  
  <!-- ログイン後にリダイレクトすべきアクションを隠しフィールドにセット -->
  <br />
  <!-- <%= hidden_field_tag :referer, flash[:referer] %> -->
  <%= submit_tag 'アカウント登録' %>
  
<% end %>
